.THIS {
    min-width: 61px;
}
.THIS .detailView  {
    display: flex;
    font-size: 8pt;
    height: 25px;
    font-weight: 500;
}
.THIS .detailView .inlineEditToggle{
    float: right;
    opacity: .1;
    width: 15px;
    height: 15px;
}
.THIS .detailView:hover .inlineEditToggle {
    opacity: 1;
}
.THIS .flexer {
    flex: 1;
}

.THIS.pendingChange.has-update {
    font-weight: 600;
    color: rgb(14, 187, 14);
}
.THIS.noRecordChange.pendingChange {
    color: gray;
}